
/* dancing-script-regular - latin */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
body {
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}
#contenido{
  display: flex;
	flex-direction: column;/* IDEA: horientacion del contenido */
}
#encabezado {
  background-color:  #5b7989;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
#encabezado .menu{
  margin-left: auto;/* IDEA: horientacion del contenido */
}
#encabezado .titulo{


  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 2px #02010a;/* IDEA: bordes letras  */
}
#encabezado .menu > a{

  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 2px #02010a;/* IDEA: bordes letras  */
}
#central{
  background-color: #82c3a6;
  padding: 3px 10px;
}
img{
box-shadow: 2px 2px ;/* IDEA: bordes  */
}
#principal{
  width: 50%;
  height: 25%;/* IDEA: tamanos imagen */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}
#secundario{
  background-color: #d5c75f;
}
#sub{
  text-decoration:none;
}
.contenedor{
  display: flex;
	flex-direction: row;/* IDEA: division en columnas */
}
#secundario .contenedor > div{
  text-align: center;
  padding: 10px;
	width: 50%;
  margin: auto;
}
#enlace{

  color: black;
  font-size: 2em;
  text-shadow: 2px 2px 2px #02010a;/* IDEA: bordes letras  */
}
#fotos{
  width: 70%;
  height: 70%;
  box-shadow: 2px 2px #82c3a6;
}
#fotos1{
  width: 70%;
  height: 70%;
  box-shadow: 2px 2px #82c3a6;
}
#fotog1 img:hover{
  transform: rotate(10deg);
}
#fotog2 img:hover{
  transform:translate3d(10px,5px,0);
}
#fot1 img{
  filter: blur(10px);/* IDEA: opaco */
}
#fot2 img{
  filter: grayscale(100%);
}
#fot3 img{
  filter: sepia(90%);
}
#pie{
  background-color: #C6d5c5;
  padding: 10px;
  border-radius: 0 0 10px 10px ;
}
#pie .contenedor > div{
  text-align: left;
  padding: 10px;
	width: 25%;
  margin: 15px;

}
#wrapper{
  width: 960px;
  margin: 0;
}
@media (max-width: 900px) {
  .contenedor{
    text-align: center;
    display: flex;
  	flex-direction: column;/* IDEA: division en columnas */
  }
  .titulo {
    text-align: center;
  }
  .menu {
    text-align: center;
  }
}
